<div class="bookmark-wrapper">
    <div class="bookmark-tile-container">

        <div class="bookmark-tile">
            <img src="http://wikipedia.org/favicon.ico" alt="">
        </div>

        <div class="bookmark-tile">
            <img src="http://google.com/favicon.ico" alt="">
        </div>

        <div class="bookmark-tile">
            <img src="http://youtube.com/favicon.ico" alt="">
        </div>

        <div class="bookmark-tile">
            <img src="http://netflix.com/favicon.ico" alt="">
        </div>
    </div>

</div>